// _tech-section.scss
.tech-section {
    .section-heading {
        margin-bottom: 10px;
    }
    .tech-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 85px;
        border-radius: 5px;
        box-shadow: 0 11px 22px 0 #e7e7eb;
        background-color: #fff;
        margin-top: 20px;
        padding: 12px;
        .img-fluid {
            max-height: 65px;
        }
    }
}